<!DOCTYPE html>
<html lang="en" dir="ltr">

    <!-- Head -->
    <%- include ('../partials/head.ejs') %>
    <link rel="stylesheet" href="../css/edit-card.css">
    <!-- Head -->

    <body>

        <!-- Header -->
        <%- include ('../partials/header.ejs') %>
        <!-- Header -->

        <div class="edit-card">
            <h1>Edit info for: <%=card.name%></h1>
            <form class="edit-card-form" action="/card/<%=card._id%>?_method=PUT" method="POST">
                <table>
                    <h4>Card Name</h4>
                    <tr>
                        <td>Name</td>
                        <td><input type="text" name="name" value="<%=card.name%>"></td>
                    </tr>
                </table>
                <table>
                    <h4>Mana Cost</h4>
                    <tr>
                        <td>Red</td>
                        <td><input class="mana-cost" type="number" name="manaCost.red" value="<%=card.manaCost.red%>"></td>
                    </tr>
                    <tr>
                        <td>Green</td>
                        <td><input class="mana-cost" type="number" name="manaCost.green" value="<%=card.manaCost.green%>"></td>
                    </tr>
                    <tr>
                        <td>Blue</td>
                        <td><input class="mana-cost" type="number" name="manaCost.blue" value="<%=card.manaCost.blue%>"></td>
                    </tr>
                    <tr>
                        <td>White</td>
                        <td><input class="mana-cost" type="number" name="manaCost.white" value="<%=card.manaCost.white%>"></td>
                    </tr>
                    <tr>
                        <td>Black</td>
                        <td><input class="mana-cost" type="number" name="manaCost.black" value="<%=card.manaCost.black%>"></td>
                    </tr>
                    <tr>
                        <td>Colorless</td>
                        <td><input class="mana-cost" type="number" name="manaCost.colorless" value="<%=card.manaCost.colorless%>"></td>
                    </tr>
                </table>
                <table>
                    <h4>Card Image</h4>
                    <tr>
                        <td>Image URL</td>
                        <td><input type="text" name="img" value="<%=card.img%>"></td>
                    </tr>
                </table>
                <table>
                    <h4>Card Type</h4>
                    <tr>
                        <td>Type</td>
                        <td><input type="text" name="typeLine.mainType" value="<%=card.typeLine.mainType%>"></td>
                    </tr>
                    <tr>
                        <td>Subtype</td>
                        <td><input type="text" name="typeLine.subTypes" value="<%=card.typeLine.subTypes%>"></td>
                    </tr>
                </table>
                <table>
                    <h4>Card Text</h4>
                    <tr>
                        <td>Text</td>
                        <td><input type="text" name="text" value="<%=card.text%>"></td>
                    </tr>
                </table>
                <table>
                    <h4>Stats</h4>
                    <tr>
                        <td>Power</td>
                        <td><input type="text" name="stats.power" value="<%=card.stats.power%>"></td>
                    </tr>
                    <tr>
                        <td>Toughness</td>
                        <td><input type="text" name="stats.toughness" value="<%=card.stats.power%>"></td>
                    </tr>
                    <tr>
                        <td>Loyalty</td>
                        <td><input type="text" name="stats.loyalty" value="<%=card.stats.loyalty%>"></td>
                    </tr>
                </table>
                <table>
                    <h4>More Info</h4>
                    <tr>
                        <td>Rarity</td>
                        <td><input type="text" name="rarity" value="<%=card.rarity%>"></td>
                    </tr>
                    <tr>
                        <td>Expansion</td>
                        <td><input type="text" name="misc.expansion" value="<%=card.misc.expansion%>"></td>
                    </tr>
                    <tr>
                        <td>Illustrator</td>
                        <td><input type="text" name="misc.illustrator" value="<%=card.misc.illustrator%>"></td>
                    </tr>
                    <tr>
                        <td>Collector Number</td>
                        <td><input type="text" name="misc.collectorNum" value="<%=card.misc.collectorNum%>"></td>
                    </tr>
                </table>
                <br>
                <br>
                <input type="submit" name="" value="Submit Card Changes">
            </form>
        </div>

        <!-- Footer -->
        <%- include ('../partials/footer.ejs') %>
        <!-- Footer -->
    </body>
</html>
