<!DOCTYPE html>
<html lang="en" dir="ltr">

    <!-- Head -->
    <%- include ('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/card-index.css">
    <script src=".../scripts/card-index.js" type="text/javascript">

    </script>
    <!-- Head -->

    <body>

        <!-- Header -->
        <%- include ('../partials/header.ejs') %>
        <!-- Header -->

        <section class="content-section">
            <div class="card-list-container">
                <h1>Card Index</h1>
                <ul id="ci-card-list">
                    <% for (let i = 0; i < cards.length; i++) {%>
                        <li> <a href="/card/<%=cards[i]._id%>"><%=cards[i].name%></a> </li>
                    <% } %>
                </ul>
            </div>
            <div class="card-serach-container">
                <div class="card-search-bar">
                    <h3>Card Search</h3>
                    <form class="search-form" action="/card/index" method="GET">
                            <input id="search-name-text" type="text" name="search" value="">
                            <input type="submit" name="" value="Search by Name">
                    </form>
                </div>
                <% if (searchResults.length > 0) { %>
                    <div id="search-result">
                        <ul id="search-result-list">
                            <% for (let i = 0; i < searchResults.length; i++) {%>
                                <li> <a href="/card/<%=searchResults[i]._id%>"><%=searchResults[i].name%></a> </li>
                            <% } %>
                        </ul>
                    </div>
                <% } %>
                <nav id="new-card-nav">
                    <a href="/card/new"> <button type="button" name="button">Add New Card</button> </a>
                </nav>
            </div>
        </section>

        <!-- Footer -->
        <%- include ('../partials/footer.ejs') %>
        <!-- Footer -->
    </body>
</html>
