<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Arcane Planes | Card Info</title>
    </head>
    <body>
        <h1>Card Info</h1>

        <h2><%=card.name%></h2>
        <img src="<%=card.img%>" alt="image of <%=card.name%> card">

        <a href="/card/<%=card._id%>/edit"><button type="button" name="button">Edit <%=card.name%></button></a>

    </body>
</html>
