<!DOCTYPE html>
<html lang="en" dir="ltr">

    <!-- Head -->
    <%- include ('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/show.css">
    <!-- Head -->

    <body>

        <!-- Header -->
        <%- include ('../partials/header.ejs') %>
        <!-- Header -->

        <div class="card-container">
            <div class="img-container">
                <div class="img-wrapper">
                    <img src="<%=card.img%>" alt="image of <%=card.name%> card">
                </div>

            </div>
            <div class="info-container">
                <div class="card-name-container">
                    <h2><%=card.name%></h2>
                </div>
                <!-- <div class="card-data-container"> -->
                    <div class="data-tables">
                        <div class="table-wrapper">
                            <table>
                                <tr>
                                    <td>Mana Cost:</td>
                                    <td>
                                        <%let mc = ""%>
                                        <%if (card.manaCost.red) {%>
                                            <%mc = mc + "R:" + card.manaCost.red;%>
                                        <% } %>
                                        <%if (card.manaCost.blue) {%>
                                            <%mc = mc + " " + "B:" + card.manaCost.blue;%>
                                        <% } %>
                                        <%if (card.manaCost.green) {%>
                                            <%mc = mc + " " + "G:" + card.manaCost.green;%>
                                        <% } %>
                                        <%if (card.manaCost.white) {%>
                                            <%mc = mc + " " + "W:" + card.manaCost.white;%>
                                        <% } %>
                                        <%if (card.manaCost.black) {%>
                                            <%mc = mc + " " + "B:" + card.manaCost.black;%>
                                        <% } %>
                                        <%if (card.manaCost.colorless) {%>
                                            <%mc = mc + " " + "C:" + card.manaCost.colorless;%>
                                        <% } %>
                                        <%= mc %>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="table-wrapper" id="card-text-table-wrapper">
                            <h4>Card Text</h4>
                            <table id="card-text-table">
                                <tr id="card-text-box">
                                    <td><%=card.text%></td>
                                </tr>
                            </table>
                        </div>
                        <div class="table-wrapper">
                            <table>
                                <tr>
                                    <th>Type</th>
                                    <th>Subtype</th>
                                </tr>
                                <tr>
                                    <td><%=card.typeLine.mainType%></td>
                                    <td><%=card.typeLine.subTypes%></td>
                                </tr>
                            </table>
                        </div>
                        <div class="table-wrapper">
                            <table>
                                <tr>
                                    <td>Rarity:</td>
                                    <td><%=card.rarity%></td>
                                </tr>
                            </table>
                        </div>

                        <div class="table-wrapper">
                            <table>
                                <tr>
                                    <td>Expansion:</td>
                                    <td><%=card.misc.expansion%></td>
                                </tr>
                                <tr>
                                    <td>Illustrator:</td>
                                    <td><%=card.misc.illustrator%></td>
                                </tr>
                                <tr>
                                    <td>Collector Number:</td>
                                    <td>#<%=card.misc.collectorNum%></td>
                                </tr>
                            </table>
                        </div>


                    </div>
                <!-- </div> -->
            </div>
        </div>

        </div>

        <nav>
            <a href="/card/index"> <button type="button" name="button">Card Index</button> </a>
            <a href="/card/<%=card._id%>/edit"><button type="button" name="button">Edit <%=card.name%></button></a>
            <form class="" action="/card/<%=card._id%>?_method=DELETE" method="POST">
                <input type="submit" name="" value="Delete <%=card.name%>">
            </form>
        </nav>


    </body>
</html>
